@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: #effaaf;

    background-image:
    radial-gradient(#313cd898 15%, transparent 16%);
    background-size:
    16px 16px;
    background-repeat:repeat;
}

header{
    background-color: #e6f975;
}

#resumo-museu{
    border-top: solid #004b23;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    max-width: 1600px;

    margin: auto;
    padding: 20px;

}
#texto-resumo{
    text-align: justify;
}

#texto-resumo h2{
    font-size: 55px;
}

#imagem-resumo img{
    width: 500px;
    height: auto;
}


h1{
    font-family: "Gravitas One", serif;
    font-weight: 400;
    Font-style: normal;
    text-align: center;
    
    font-size: 60px;
   
    color: #004b23;
    padding-top: 53px;
    margin-top: 14px;
}
h2{
font-size: 70px;

color: #004b23 ;
margin-bottom: 10px;
}
h3{
font-family: "Gravitas One", serif;
font-weight: 400;
Font-style: normal;
font-size: 25px;
margin-top: 60px;
color: #004b23;
border: solid #004b23 2px;

}
#museu{
width: fit-content;
margin: auto;
}
a{
text-decoration: none;
}


p{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;

font-size: 18px;
}
#primeiracopa{ text-align: left;}
#segundacopa{text-align: right;}
#terceiracopa{text-align: left;}
#quartacopa{text-align: right;}
#quintacopa{text-align: left;}

.esquerda{
    background-color: #e6f975;
    border-right: 6px solid #004b23;
    border-bottom: 6px solid #004b23;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    width: 70%; 
    max-width: 1500px;

    margin-right: auto;
    padding: 20px;
    text-align: justify;
}

.direita{
    background-color: #e6f975;
    border-left: 6px solid #004b23;
    border-bottom: 6px solid #004b23;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 70%; 
    max-width: 1500px;

    margin-left: auto;
    padding: 20px;
    text-align: justify;
}
.esquerda p, .direita p{
    font-size: 20px;
}
.esquerda img, .direita img {
    width: 450px;
    height: auto;
}

#sonhohexa div{
    background-color: #e6f975;
    margin: auto;

    max-width: 1200px;

    padding: 20px;
}
#sonhohexa h2{
    text-align: center;
}
#sonhohexa div{
    margin-bottom: 40px;
}

img{
    border: 3px solid #004b23;
}

@media (min-width: 925px ){
    #resumo-museu{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width:1350px ){
    .direita, .esquerda{
        display: flex;
        flex-direction: row;
    }
}

#rodape-cbf {
    background-color: #002776;
    color: #ffffff;
    padding: 20px 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-top: 4px solid #1cb80e;
    margin-top: 100px;
    
}

.conteudo-rodape {
    max-width: 1200px;
    display: flex;
    flex-direction: column;

}

#direitos {
    margin: 0;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.redes-sociais span {
    font-weight: bold;
    color: #FFDC00;
}


.redes-sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.redes-sociais a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.redes-sociais a:hover {
    color: #FFDC00;
    text-decoration: none;
}

@media (min-width: 768px) {
    .conteudo-rodape {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .redes-sociais {
        flex-direction: row;
        gap: 10px;
    }
}
