@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
background-color: #e6f975; 


    background-image: 
 
        radial-gradient(circle, #e6f975 45%, transparent 70%),
        radial-gradient(#3842d191 15%, transparent 16%);
  
    background-size: 
        100% 100%,
        16px 16px; 


    background-repeat: no-repeat, repeat;
    background-attachment: fixed; 
}

header{
    background-color: rgba(255, 255, 255, 0.582);

}

nav{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

h1{
font-family: "Gravitas One", serif;
font-weight: 400;
Font-style: normal;

font-size: 54px;
text-align: center;
color: #004b23;
}
h2{
font-family: "Gravitas One", serif;
font-weight: 400;
Font-style: normal;

font-size: 49px;
text-align: center;

margin-top: 82px;
color: #004b23;
}
h3{
font-family: "Gravitas One", serif;
font-weight: 400;
Font-style: normal;
font-size: 25px;
margin-top: 60px;
color: #004b23;
border: solid #004b23 2px;

}
#museu{
width: fit-content;
margin: auto;
}

p{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;

font-size: 15px;
}

a{
color: green;
transition: 0.5s;
text-decoration: none;
}
header a:hover{
color: rgb(211, 226, 1);
}
header a:active{
color: rgb(11, 206, 11);
}

.fotoconvocados{
    width: 350px;
    border: solid #004b23;
}

#foto_convocados{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.fotojogador{
    width: 190px;
}

.card{
    background-color: beige;
   
    text-align: center;
    display: inline-block;
    width: 215px;
    padding-top: 8px;

    border-left:solid #1cb80e 8px ;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);

}
#convocadossection{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
#agendasection{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.videojogos{
    width: 370px;
    height: 250px;
    border: 4px solid #1cb80e;
}
#melhores-momentos{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 30px;
    justify-content: center;
}

#coluna-jogos{
    display: flex;
    flex-direction: column;


    gap: 20px;
    justify-content: space-between;
}

#agendasection .placar{
    font-weight: bold;
    color: #004b23;
    font-size: 30px;
    margin: 10px;
}

.imagem-jogos{
    width: 80px;
    margin-top: 1px;
}
.x{
    width: 20px;
    height: 15px;
    
}
.jogos{
    width: fit-content;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 2px #1cb80e solid;
    border-left:solid #1cb80e 8px ;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.horario{
    width: 100%;
    text-align: center;
}
.data{
    width: 100%;
    text-align: center;
    margin-bottom: -8px;
    margin-top: 10px;
}



#formulariosection {
    display: flex;
    justify-content: center;
}


#formulario {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 15px;
    border-left: 8px solid #1cb80e;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    
    max-width: 1000px;
}

#formulario label {
    display: flex;
    margin-bottom: 8px;
    font-weight: bold;
    color: #004b23;
}


#formulario input[type="text"],
#formulario input[type="email"],
#formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

#formulario input:focus, 
#formulario textarea:focus {
    border-color: #002776;
    outline: none;
}

#formulario textarea {
    height: 100px;
}

.bloco-notas {
    margin-bottom: 25px;
}

.radios {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.radios label {
    margin-right: 10px;

}

#formulario button {
    width: 100%;
    background-color: #002776;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}


#formulario button:hover {
    background-color: #FFDC00;
    color: #002776;
}


#rodape-cbf {
    background-color: #002776;
    color: #ffffff;
    padding: 20px 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-top: 4px solid #1cb80e;
    margin-top: 40px;
    
}

.conteudo-rodape {
    max-width: 1200px;
    display: flex;
    flex-direction: column;

}

#direitos {
    margin: 0;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.redes-sociais span {
    font-weight: bold;
    color: #FFDC00;
}


.redes-sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.redes-sociais a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.redes-sociais a:hover {
    color: #FFDC00;
    text-decoration: none;
}

@media (min-width: 768px) {
    .conteudo-rodape {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .redes-sociais {
        flex-direction: row;
        gap: 10px;
    }
}

@media (min-width: 1000px){
    #coluna-jogos{
    flex-direction: row;
}
    #melhores-momentos{
        display: flex;
        flex-direction: row;
    }
}
